* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

body {
    text-align: center;  
    background-color:mediumslateblue;
    margin: 0;
}

h1, h3 {
    font-family: Helvetica, sans-serif;
    font-style: italic;
    size:100px;
    color:white
}

header {
margin-right: auto;
margin-left:auto;
padding-top: 100px;
}

#search-btn {
    font-family: Helvetica, sans-serif;
    border-radius: 35px;
}
#search-btn i {
    padding: 8px;
    font-size: 1.6em;
}


#search-btn:hover {
    background: #1deeee;
    
}
#searchbar {
    width: 33%;
    color: white;
    font-size: 25px;
}
















