* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

.hidden {
    display: none;
}

body {
    background-color:mediumslateblue;
}

h1 {
    font-family: Helvetica, sans-serif;
    font-style: italic;
    size:100px;
    color:white
}

header {
margin-right: auto;
margin-left:auto;
padding-top: 100px;
}